/* ===== COMMON THEME (You can change colors later) ===== */
body {
    font-family: "Segoe UI", sans-serif;
    background: linear-gradient(rgba(12, 90, 60, .85), rgba(12, 90, 60, .85)), url('/img/farmer.jpg');
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    color: #ffffff !important;
}

.btn:hover {
    color: var(--bs-btn-hover-color) !important;
    background-color: var(--bs-btn-hover-bg) !important;
    border-color: var(--bs-btn-hover-border-color);
}

.top-nav {
    padding: 14px 50px;
    font-size: 17px;
    background: transparent;
}

.top-nav a {
    color: #ffd84d;
    /* yellow like govt site */
    text-decoration: none;
    margin-right: 20px;
    font-weight: 600;
}

.top-nav a:hover {
    color: #ffea80;
    text-decoration: underline;
}

.nic-logo {
    margin-right: 30px;
    /* NIC ke baad space */
    display: inline-block;
}

.nic-logo-img {
    height: 45px;
    width: auto;
    margin-right: 30px;
    vertical-align: middle;
}


.login-card {
    background: #ffffff;
    color: #2c2c2c;
    border-radius: 28px;
    padding: 34px 32px;
    max-width: 420px;
    box-shadow: 0 25px 60px rgba(0, 0, 0, .35);
}

.role-btn {
    border: 1px solid #ccc;
    padding: 6px 18px;
    border-radius: 6px;
    cursor: pointer;
    background: #f5f5f5;
    font-size: 14px;
}

.role-btn.active {
    background: #28c76f;
    color: #ffffff;
    border-color: #28c76f;
}

.form-control {
    font-size: 14px;
    padding: 10px;
}

.btn-main {
    background: #28c76f !important;
    color: #ffffff !important;
    border: none;
    font-weight: 500 !important;
}

.btn-main::hover {
    background: #ffffff !important;
    color: #ffffff !important;
    border: none;
    font-weight: 500 !important;
}


.btn-main:disabled {
    background: #ccc;
}

.create-btn {
    border: 1.5px solid #28c76f !important;
    color: #28c76f !important;
    background: #ffffff !important;
    font-weight: 500 ;
}

/* ===== DASHBOARD ===== */
.card-kpi {
    border-radius: 14px;
    color: #fff;
    padding: 20px;
    font-weight: 600;
}

.bg1 {
    background: linear-gradient(135deg, #9b8df3, #bfa7ff);
}

.bg2 {
    background: linear-gradient(135deg, #ff7eb3, #ffb6d5);
}

.bg3 {
    background: linear-gradient(135deg, #fbc531, #ffeaa7);
}

/* ===== MOBILE FIX (LOGIN CENTER) ===== */
@media (max-width: 768px) {
    body {
        background-attachment: fixed;
    }

    .top-nav {
        text-align: center;
        padding: 12px 20px;
    }

    /* NIC LOGO */
    .nic-logo-img {
        height: 38px;
        display: block;
        margin: 0 auto 10px auto;
        /* center + नीचे gap */
    }

    /* MENU LINKS – NIC LOGO KE NICHE */
    .top-nav a {
        display: block;
        /* यही main change है */
        margin: 6px 0;
        font-size: 13px;
    }

    .login-card {
        margin: 0 auto;
        border-radius: 22px;
        padding: 28px 22px;
    }

    .container-fluid {
        padding-top: 30px;
    }

    .col-lg-6 p {
        width: 100% !important;
    }
}
